<h2>Edytujesz {{client.name}}, nr {{client.id}}</h2>
<!--<form method="get" action="/client/forms/edit/{{client.id}}">-->
<form method="POST" action="/client/{{client.id}}?_method=PUT">
    <label>
        <p>
            E-mail:
        </p>
        <p>
            <input type="text" name="mail" value="{{client.mail}}">
        </p>
    </label>
    <label>
        <p>
            Imię:
        </p>
        <p>
            <input type="text" name="name" value="{{client.name}}">
        </p>
    </label>
    <label>
        <p>
            Ostatni kontakt:
        </p>
        <p>
            <input type="date" name="nextContactAt" value="{{client.nextContactAt}}">
        </p>
    </label>
    <label>
        <p>
            Notatki:
        </p>
        <p>
                <textarea type="text" name="notes">{{client.name}}

                </textarea>
        </p>
    </label>
    <p>
        <button type="submit">Zapisz</button>
    </p>

</form>
<p>
    {{>go-to-clients}}
</p>